:host {
    display: block;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
